body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
/*     min-height: 100vh; */
}

button {
    cursor: pointer;
}

/* a { */
/*     text-decoration: none; */
/*     cursor: pointer; */
/*     color: rgb(0, 150, 243); */
/*     margin-left : 250px; */
/* } */
#deletechk {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 150, 243);
    margin-left : 250px;
}
.bichena {
	width : 100% !important;
	display : flex;
	flex-direction : column;
}
.box1 {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    justify-content: center;
	padding-right : 0 !important;
	padding-left : 0 !important;
	margin-top : 110px;
}

.header-container {
    position: relative;
    width: 100%;
    padding : 0!important;
    margin-top : 110px;
}
#All {
	margin-left : 27px;
}
.header {
    background-color: #004BFF;
    color: white;
    padding: 10px;
    font-weight: bold;
/*     width: 500px; */
    width: 100%;
    position: relative;
}

.summary {
    background: white;
    padding: 20px;
/*     border: 0.5px solid #ddd; */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
/*     width: 300px; */
    width: 100%;
    flex: 0 0 300px;
    height: 350px;
    margin-top: 140px;
}

.cart {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
/*     width: 500px; */
    width: 100%;
}

table {
    width: 100%;
}

th, td {
    padding: 8px !important;
    text-align: left;
}

input[type="text"], input[type="number"] {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    height: 25px;
}

input[type=checkbox] {
    transform: scale(1.5);
    outline: none;
}
label[for="All"] {
	margin-left : 10px;
}

.right-align {
    text-align: right;
}

.button, .btn {
    width: 260px;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    color: gray;
    background-color: white;
/*     border: none; */
border : 0.1px solid gray;
    width: auto;
}

.totalprice, .item-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 210px;
}

#totalP {
    color: rgb(0, 150, 243);
}

.tot {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 10px;
}

#alltot {
    color: rgb(0, 150, 243);
}

.deletechk {
    width: 100%;
    color: rgb(0, 150, 243);
    text-decoration : none;
    margin-left : 250px;
}

.roll {
    background-color: #f6f6f6;
    margin: 20px;
    padding: 1px;
    border-radius: 10px;
}

img.prodimg {
    width: 80px;
    height: 80px;
}
 #dddd {
 width : 500px;
 }

.showpping {
    width: 390px;
    height: 35px;
    padding: 5px;
    border: 1.5px solid gray;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    background-color: white;
}

.box {
    justify-content : center;
    box-sizing : border-box;
}
.navbar {
	width : 100%;
    top: 0;
    left: 0;
    margin : 0 auto;
	position: fixed !important;
    z-index: 1000;
}


#Xcart {
    width: 450px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    text-align: center;
    margin-top: 20px;
    margin: auto;
    line-height: 100px;
}

.first-box {
	width : 500px;
/* 	width : 100%; */
    display: flex;
    flex-direction: column;
}
#protot, #free, .totalP {
	padding-right : 8px;
}

@media (max-width: 500px) {
    .box1 {
        flex-direction: column;
        align-items: flex-start;
        width: 100% ;
    }
    .container {
    position : relative;
    margin-top : 0;
    }
    .cart {
/*         width: 500px; */
        width: 100%;
    }
    .summary {
        width: 500px;
        margin-top: 20px;
    }
    .button {
        width: 100%;
    }
    #dddd {
    margin-top : 140px;
    }
    .box {
    width : 500px;
    }
}
@media (max-width : 900px) and (min-width : 500px) {
    .first-box {width : 899px !important;}
    .box1 {
        flex-direction: column;
        align-items: flex-start;
        width: 100%!important ;
        margin : 0 !important;
        padding : 0 !important;
    }
    #dddd {
    margin-top : 90px;
    }
    .summary {
        width: 899px;
        margin-top: 20px;
    }
    .box {
    width : 899px !important;
    }
    .deletechk {
    margin-left : 650px;
    }
    .button-container {
    padding-left : 100px !important;}
    .showpping {width : calc(100% - 40px);}
    .button {width : 100%;}
    #dddd {width : 899px;}
    #Xcart {width : 100%;}
    c:otherwise {
    display : none;}
	
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%!important;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%!important ;
    }
